.mainContent {
    border-left: 1px solid darkgray;
}

.main__detail {
    display: flex;
    object-fit: fill;
}

.img__detail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__box {
    width: 380px;
    height: 380px;
}

.old__price {
    font-size: 1.5rem;
    font-weight: 600;
}

.new_price {
    font-size: 1.5rem;
    font-weight: 600;
}

.quanlity__input {
    width: 80px;
    padding: 2px 5px;
    outline: none;
}

.btn__AddSp {
    background-color: #E2BA48;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    padding: 2px 5px;
    width: 150px;
    outline: none;
    border: 1px solid black;
    height: 32px;
    text-align: center;
}

.type_sp {
    text-decoration: none;
    cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/

.options__info{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    
}
.options__info .tranfarent{
    flex: 1;
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 8px 16px;
}
.options__info li {
    margin-right: 2px;
    padding: 8px 16px;
    border-top: 2px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.6;
    background-color: gainsboro;
}

.options__info li:hover {
    opacity: 1;
}

.options__info-item.active {
    border-top: 2px solid black;
    opacity: 1;
    background-color: white;
    border-bottom: none;
}



/*-------------------------------------------------------*/
.tab__container {
    border: 1px solid gray;
    border-top: none;
}
.tab_table {
    width: 100%;
}
.tab_table tr {
    border-bottom: 1px solid gray;
}

.tab_table td {
    height: 50px;
}


.tab_feedback {
    border: 2px solid black;
    padding: 10px 20px;
}

.star__list {
    display: flex;

}
.star__list-item {
     padding: 0 4px;
     color: gray;
}

.star__list-item:hover {
    color: #E2BA48;
    cursor: pointer;
}

.star__list-item + .star__list-item{
    border-left: 1px solid gray;
    margin-left: 2px;
}

.star__list-item.active {
    color: #E2BA48;
}


